@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
body{
    width: auto;
    height: 6411px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins';
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 90px;
    background-color: white;
    gap: 550px;
}
.headText{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 15px;
}
.headb{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 155px;
    height: 46px;
    border-radius: 14px;
    background-color: black;
    color: white;
    font-family: Poppins;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4000000059604645px;
    text-align: left;

}

.FirstScreen{
    width: auto;
    height: 720px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color:  #ECE7E4;
}
.FirstText{
    gap: 10px;
}
.Firstb{
    background-color: #ECE7E4;
    border-color:#ECE7E4;
}
.minit{
    line-height: 20px;
   letter-spacing: 2px;
   text-align: left;
    color: #645C55;
    font-size: 14px;
}
h1{font-size: 64px;}

.Ourfirm{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 720px ;
    background-color: white;
    vertical-align: top;
    gap: 150px;
}
.utu{
    display: flex;
    margin-bottom: 525px;
}
.title2{
    font-size: 32px;
    line-height: 38px;
    text-align: left;
    color: #403E3B;
}
.surname{
    gap: 20px;
    display: flex;
    flex-direction: row;
}
.name{
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}
.name > h1{
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    color: #1B1A1A;
}
.name > p{
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: left;
    color: #645C55;
}

.House{
    background-image: url('art/fon1.jfif');
    background-repeat: no-repeat;
    background-size:cover;
    width: auto;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: center;
    text-align: left;
}
.TextHouse{
   padding: 50px;
}
.TextHouse > h1{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-align: left;
    color: #403E3B;
}
.TextHouse  > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #645C55;
}

.Process{
    width: auto;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}
.TextProcess{ text-align: center;}
.TextProcess > p {
   font-size: 14px;
   line-height: 20px;
   letter-spacing: 2px;
   color: #645C55;
}
.TextProcess > h1{
   font-size: 39px;
   line-height: 42px;
   color: #1B1A1A;
   font-weight: 400;
}
.cards{
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 200px;
}
.cards_1 > h2 {
    font-size: 18px;
    line-height: 26px;
    color: #403E3B;
}
.cards_1 > p {
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #645C55;
}
.cards_2 > h2 {
    font-size: 18px;
    line-height: 26px;
    color: #403E3B;
}
.cards_2 > p {
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #645C55;
}
.cards_3 > h2 {
    font-size: 18px;
    line-height: 26px;
    color: #403E3B;
}
.cards_3 > p {
    font-size: 15px;
    line-height: 24px;
    text-align: center;
    color: #645C55;
}

.Themarble{
    background-image: url('art/fon2.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    width:auto;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: center;
    text-align: left;
}
.TextThemarble{
    padding: 120px 25px 0 0;
    padding-bottom: 0px;
 }
 .TextThemarble > h1{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    Letter-spacing: 2px;
    text-align: left;
    color: #403E3B;
 }
 .TextThemarble  > p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;   
    color:  #645C55;
 }

 .Happy{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 410px;
    background-color: #403E3B;
    gap: 200px;
 }
 .TextHappy{ color: white;}
 .TextHappy > h1{
     font-size: 32px;
     font-weight: 400;
     line-height: 38px;
     text-align: left;
 }
 .TextHappy > h2 {    
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-align: left;
    color: #ECE7E4;
 }
 .TextHappy > p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #ECE7E4;
 }
 .IconsHappy{
    display: flex;
    flex-direction: column;
    gap: 100px;
 }
 .IconsHappy_1{
    display: flex;
    gap: 100px;
    align-items: center;
 }
 .IconsHappy_2{
    display: flex;
    gap: 100px;
    align-items: center;
 }
 .Swirling{
    width: auto;
    height: 600px;
    background-image: url('art/fon3.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;  
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
 }
 .TextSwirling{
    color: #645C55;
    padding: 100px;
 }
 .TextSwirling > h1{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-align: left;
    color: #403E3B;
 }

 .Featured{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    justify-content: center;
    gap: 30px;
 }
 .TextFeatured > h1{
    font-size: 39px;
    font-weight: 400;
    line-height: 42px;
    text-align: left;
    color: #1B1A1A;
    padding: 0 0 0 80px;
 }
 .TextFeatured > p{
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #645C55;
    padding: 0 0 0 80px;
 }
 .FotoFeatured{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
 }
 .FotoTextFeatured{
    width: 375px;
    height: 460px;
    background-image: url('art/arm.jfif');
    background-repeat: no-repeat;
    background-size: cover;
 }
 .FotoTextFeatured > h1{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 2px;
    text-align: left;
    color: #645C55;
    padding: 0 0 0 35px;
 }
 .FotoTextFeatured > p{
    font-size: 23px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #403E3B;
    padding: 0 0 0 35px;
 }
 .Featuredb{
    border-color: #1B1A1A;
    border-radius: 14px;
    background: #1B1A1A;
    color: #FFFFFF;
    width: 133px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 35px;
    top: 290px;
 }
 .Featuredb > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.4000000059604645px;
    text-align: left;
 }
 .Featuredb2{
    background-color: white;
    border-color:white;
    width: 180px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 550px;
 }

 .Meet{
    width: auto;
    height: 650px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
 }
 .TextMeet > h1{
    font-size: 32px;
    font-weight: 400;
    line-height: 38px;
    text-align: left;
    color: #403E3B;
 }
 .TextMeet > p {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    color: #645C55;
 }
 .Meetb{
    background-color: white;
    border-color:white;
    width: 121px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 .Meetb > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.4000000059604645px;
    text-align: left;
    color: #1B1A1A;
 }

 .Meetpeople{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 773px;
    height: 392px;

 }
 .surname2{
    gap: 50px;
    display: flex;
    width: 35%;
    height: 30%;
}