@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
body{
    width: auto;
    height: 6411px;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Poppins';
}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 90px;
    background-color: white;
    gap: 550px;
}
.headText{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 15px;
}
.headb{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 155px;
    height: 46px;
    border-radius: 14px;
    background-color: black;
    color: white;
    font-family: Poppins;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4000000059604645px;
    text-align: left;

}

.FirstScreen{
    width: auto;
    height: 720px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color:  #ECE7E4;
}
.FirstText{
    gap: 10px;
}
.Firstb{
    background-color: #ECE7E4;
    border-color:#ECE7E4;
}
.minit{
    line-height: 20px;
   letter-spacing: 2px;
   text-align: left;
    color: #645C55;
    font-size: 14px;
}
h1{font-size: 64px;}

.Ourfirm{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 720px ;
    background-color: white;
    vertical-align: top;
    gap: 150px;
}
.utu{
    display: flex;
    margin-bottom: 525px;
}
.title2{
    font-size: 32px;
    line-height: 38px;
    text-align: left;
    color: #403E3B;
}
.surname{
    gap: 20px;
    display: flex;
    flex-direction: row;
}
.name{
    display: flex;
    flex-direction: column;
    white-space: nowrap;
}

.House{
    background-image: url('art/fon1.jfif');
    background-repeat: no-repeat;
    background-size:cover;
    width: auto;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    justify-content: center;
    text-align: left;
}
.TextHouse{
   padding: 300px;
}
.TextHouse > h1{
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 2px;
text-align: left;
color: #403E3B;
}
.TextHouse > h1 > p {
font-size: 16px;
font-weight: 400;
line-height: 24px;
text-align: left;
color: #645C55;
}